#loginPageContainer{
    margin-top: 3%;

}
.list-group-item{
    border: 0;
    padding-left: 0;
    border-top: 1px solid;
    border-color: rgba(37,40,43,0.1);
}
.list-group .list-group-item:first-child{
    border:0;
}
.list-group .list-group-item a{
    color: #2895F1;
    cursor: pointer;
    text-decoration: none;
}
.list-group.list-group-header{
    padding:0;
    margin:0;
}
.list-group.list-group-body .glyphicon {
 font-size: 25px; vertical-align: middle;
}
.list-group-panel{
    border: 1px solid #ccdbeb;
    border-radius: 0;
}

#header {

  font-size: 150%;

}

#login-form {
    display: block;
    position: static;

}

#register-form {
    display: none;
}

#loginLogo {

  width: 25%;
  height: 25%;
  margin: auto;

}

.loginPanel {

  width: 75%;
  height: 25%;
  margin: auto;

}

#marginTop {
    margin-top: 17px;
}
#marginTop a {
    font-size: 25px;
    text-align: left;
    font-weight: 600;
}
#row {
    border-bottom: 1px solid #2c95f1;
    border-top: 1px solid #2c95f1;
    font-size: 20px;
}

.btn-glyphicon { padding: 6px; font-size: 20px !important; background:#ffffff; margin-right:4px; }
.icon-btn { padding-top: 7px; padding-bottom: 7px; border-radius:50px; color: #fff !important; margin: 10px;}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.btn-login {
    background-color:#3D9DB3;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #2d92a9;
}

.btn-register {
    background-color: #17ae47;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}


.loginPageBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: beige;
    z-index: -1;

  }
