body {
	padding-top: 35px;
	padding-bottom: 20px;
	font-family: 'Righteous', sans-serif;
	background: #fff;
	color: #000;
	font-size: 25px;
}

span.icon {
	margin: 0 5px;
	color: #D64541;
}
h2 {
	color: #BDC3C7;
	font-size:5em;
}

ul {
  padding: 0;
}

.matchingID {

  font-size: 20px;

}

a {
	cursor: pointer;
}

.button-panel {
  margin-top: 30px;
}

/*CSS for the headerbar (navbar - bootstrap)*/
.navbar-inverse {
    background-color: beige;
    border-color: black;
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a {
    color: black;

}
.navbar .container {
	width: 90%;

}

.navbar-brand {
  padding: 0px;
}

.navbar-header {

	height: 120px;
}

.first {
	margin-left: 90px;
}
.modal-dialog {
    width: 70%;
    height: 650px;
}
.modal-content {
	height: 100%;
}

/*CSS for listing tests*/
.records {

	margin: 20px;
	left: 3%;

}

/*CSS for loading icon*/
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 60px;
	height: 60px;
	margin: -75px 0 0 -75px;
	border: 8px solid #e3e5e5;
	border-radius: 50%;
	border-top: 7px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 0.6s linear infinite;
	animation: spin 0.6s linear infinite;
  }

  .loader {
	position: absolute;
	border: 5px solid rgb(211, 210, 210);
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 40px;
	height: 40px;
	z-index: 1;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
  }


  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

	#session_id {
		font-size: 22px;
		margin-left: 30px;
		color: #727272;
		text-align: left;
	}
	.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
		border-color: rgb(212, 63, 58);
		cursor: pointer;
}


.header-title {

	padding-left: 33%;

}
#headerLogo {

	width: 300px;
	height: 200px;
	position: fixed;
	top: -40px;
	left: -20px;

}

#pdfLogo {

	width: 300px;
	height: 200px;
	position: fixed;
	top: -20px;
	left: 90px;

}

.row1 {
	padding-top: 100px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-brand>img {
  padding: 7px 15px;
}

.containerForm {

	padding-right: 20px;
	padding-left: 20px;
	margin-left: 300px;
	margin-right: auto;

}

.createSession {

	padding-top: 20px;
	padding-right: 20px;
	margin-left: 220px;
	margin-right: auto;
	width: 900px;

}

.dashboardNumbers {

	font-size: 100px;

}

.dashboardNumbers {

	font-size: 100px;

}

.patientInfoPanel {

	width: 1200px;

}

.helpAndDashboardPanelWidth {

	padding-top: 20px;
	margin-left: 210px;

	width: 970px;

}

.dashboardStatCard {
	width: 90%;
}

.helpAndDashboardHeaders {

	font-size: 40px;

}
