.settings {
  margin: 20px 0;
}
/*Sidebar settings*/
.settings-sidebar {


  background: #fff;

}

.settings-usertitle {
  text-align: center;
  margin-top: 22px;
}

.settings-usertitle-name {
  color: #5a7391;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 7px;
}

.settings-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.settings-userbuttons .btn {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.settings-userbuttons .btn:last-child {
  margin-right: 0px;
}

.settings-usermenu {
  margin-top: 30px;
}

.settings-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.settings-usermenu ul li:last-child {
  border-bottom: none;
}

.settings-usermenu ul li a {
  color: #93a3b5;
  font-size: 22px;
  font-weight: 400;
}
.settings-usermenu ul li span {
  color: #6f7276;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  display: block;
  padding: 10px 35px;
}

.settings-usermenu ul li a i {
  margin-right: 8px;
  font-size: 22px;
}

.settings-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.settings-sidebar .active {
  border-bottom: none;
}

.settings-sidebar .active {
  color: #5b9bd1 !important;
  background-color: #f6f9fb !important;
  border-left: 2px solid #5b9bd1 !important;
  margin-left: -2px !important;
}

/* Settings Content */
.settings-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
